div.group {
  background-color: var(--background-accent-color);
  padding: 0.5rem;
  width: 300px;
}

div.groupTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 32px;
  border-bottom: 2px solid var(--background-color);
  padding-bottom: 5px;
  column-gap: 0.4rem;
}

div.groupTitle>span.title {
  text-transform: uppercase;
}

.widget:not(:last-child) {
  margin-bottom: 0.4rem;
}

div.widgets {
  margin: 0.4rem;
  margin-top: 0.8rem;
}
