div.container {
  display: flex;
  flex-flow: column;
  row-gap: 0.9rem;
}

div.doubleButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

a {
  align-items: center;
  height: 2.2rem;
  display: flex;
  background-color: var(--secondary-color);
  padding: 0.45rem;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

a:hover {
  background-color: var(--secondary-accent-color);
}

div.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

div.navigation > a {
  height: 3rem;
}

a.backButton,
a.homeButton {
  background-color: var(--tertiary-color);
}

a.backButton:hover,
a.homeButton:hover {
  background-color: var(--tertiary-accent-color);
}
