a.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0.45rem;
  cursor: pointer;
  user-select: none;
  height: 2.2rem;
}

a.item:hover,
a.item:active {
  background-color: var(--secondary-accent-color);
}

span.checkbox {
  font-size: 1.5rem;
}
